<div class="card">
    <img class="card" src="../../assets/images/pc_test.jpg" alt="pc_test">
    <h3 class="feature">{{ computer.nom }}</h3>
    <div></div>
    <div class="feature">
      RAM: {{ computer.system.ram }} Go, CPU: {{ computer.system.cpu.nom }}, HDD: {{ computer.system.hdd.capacite }} Go
    </div>
    <div class="feature">feature 1</div>
    <div class="feature">feature 2</div>
    <div class="feature">feature 3</div>
    <div></div>
    <app-button-card></app-button-card>
    <div></div>
  </div>
  