<h4 class="titre_filtre">Titre Filtre</h4>
<div class="filtre_element">
    <div><input type="checkbox" name="option1" id="option1"> Option1</div>
    <div><input type="checkbox" name="option2" id="option2"> Option2</div>
    <div> <input type="checkbox" name="option3" id="option3"> Option3</div>
    <div><input type="checkbox" name="option4" id="option4"> Option4</div>
    <div><input type="checkbox" name="option5" id="option5"> Option5</div>
    <div><input type="checkbox" name="option6" id="option6"> Option6</div>
</div>