<div id="page">
    <h1>Trouvez le PC de vos rêves !</h1>
    <div class="formulaire">
        <div class="liste">
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <app-question class="question"></app-question>
            <button class="submit">Valider</button>
        </div>
    </div>
</div>