/* ce fichier contient la partie css de la barre de navigation
tout est spécifié pour chaque composants */

a.clic {
    display: flex;
    justify-content: center;
    width: fit-content;
    text-decoration: none;
    color: var(--font);
    border-radius: 1vw;
    transition: box-shadow 0.3s, background-color 0.3s;

}

a.clic:hover {
    box-shadow: 0 0 0.5rem var(--font);
    background-color: var(--font_light);


}


.buttonSignUp {
    color: var(--background);
    font: Roboto;
    font-size: 18px;
    top: 12px;
    height: fit-content;
    width: fit-content;
    background-color: var(--font);
    padding: 0.5rem;
    border-radius: 1vw;
    transition: box-shadow 0.3s, background-color 0.3s;
    cursor: pointer;

}

.navBarre {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.gauche {
    display: flex;
    align-items: center;
    width: fit-content;
}

div.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;


}

img.nav {
    width: 100%;
}

p.home {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;
    width: fit-content;

}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
    margin: auto;
    text-align: center;
    margin: auto;

}

p.search {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}

.logo {
    width: auto;
    height: 30%;
}

.droite {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.favoris {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
    margin: auto;


}

p.favoris {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}

.aide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
    margin: auto;


}

p.aide {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
    margin: auto;
    



}

p.login {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;
}