<div class="navBarre">
    <div class="gauche">

        <img class="logo" src="../../assets/images/logoSite.svg" alt="logo">

        <a class="link" href="">
            <div class="home">
                <img class="home" src="../../assets/images/home.svg" alt="home">
                <p class="home">Home</p>
            </div>
        </a>

        <a href="../recherche" class="link">
            <div class="search">
                <img class="search" src="../../assets/images/recherche.svg" alt="search">
                <div class="search text">recherche</div>
            </div>
        </a>

    </div>
    <div class="droite">
        <div class="favoris">
            <img class="favoris" src="../../assets/images/coeur.svg" alt="favoris">
            <p class="favoris">favoris</p>
        </div>
        <div class="aide">
            <img class="aide" src="../../assets/images/learn.svg" alt="aide">
            <p class="aide">aide</p>
        </div>
        <div class="login">
            <img class="login" src="../../assets/images/contact.svg" alt="login">
            <p class="login">login</p>
        </div>
        <div>
            <button class="buttonSignUp">Sign Up</button>
        </div>
    </div>

</div>