<div class="navBarre">
    <div class="gauche">

        <img class="logo" src="../../assets/images/logoSite.svg" alt="logo">

        
            <div class="home">
                <a class="clic" href="../home-page">
                <img class="home" src="../../assets/images/home.svg" alt="home">
                </a>
                <p class="home">Home</p>
            </div>
        

        
            <div class="search">
                <a href="../recherche" class="clic">
                <img class="search" src="../../assets/images/recherche.svg" alt="search">
                </a>
                <div class="search text">recherche</div>
            </div>
        

    </div>
    <div class="droite">
        <div class="favoris">
            <a href="../favoris" class="clic">
            <img class="favoris" src="../../assets/images/coeur.svg" alt="favoris">
            </a>
            <p class="favoris">favoris</p>
        </div>
        <div class="aide">
            <a href="../aide" class="clic">
            <img class="aide" src="../../assets/images/learn.svg" alt="aide">
            </a>
            <p class="aide">aide</p>
        </div>
        <div class="login">
            <a href="../login" class="clic">
            <img class="login" src="../../assets/images/contact.svg" alt="login">
            </a>
            <p class="login">login</p>
        </div>
        <div>
            <button class="buttonSignUp">Sign Up</button>
        </div>
    </div>

</div>