.buttonSignUp{
    color: var(--background);
    font: Roboto;
    font-size: 18px;
    top: 12px;
    height: 100%;
    width: fit-content;
    background-color: var(--font);
    
}

.titre{
    h
}
.navBarre{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:space-between;
}
