a.clic{
    display : flex;
    align-items: center;
    width: auto;
}


.buttonSignUp{
    color: var(--background);
    font: Roboto;
    font-size: 18px;
    top: 12px;
    height: fit-content;
    width: fit-content;
    background-color: var(--font);
    padding: 0.5rem;
    
}
.navBarre{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:space-between;
}
.gauche{
    display: flex;
    align-items: center;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align : center;
    margin : auto;
    

}
p.home{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align : center;
    margin : auto;
    text-align : center;
    margin : auto;

}
p.search{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}

.logo{
    width: auto;
    height: 30%;
}

.droite{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    
}

.favoris{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align : center;
    margin : auto;
    

}
p.favoris{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}
.aide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align : center;
    margin : auto;
    

}
p.aide{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;

}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align : center;
    margin : auto;
    

}
p.login{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Roboto Flex';
    font-size: 1rem;
}

