<!-- tous les composants de la barre de navigation renvoient vers une partie spécifique du site -->

<div class="navBarre">
    <div class="gauche">

        <img class="logo" src="../../assets/images/logoSite.svg" alt="logo">

        <a class="clic" href="../">
            <div class="home">

                <img class="home nav" src="../../assets/images/home.svg" alt="home">

                <p class="home">Home</p>
            </div>
        </a>


        <a href="../recherche" class="clic">
            <div class="search">

                <img class="search nav" src="../../assets/images/recherche.svg" alt="search">

                <div class="search text">recherche</div>
            </div>
        </a>


    </div>
    <div class="droite">
        <a href="../favoris" class="clic">
            <div class="favoris">

                <img class="favoris nav" src="../../assets/images/coeur.svg" alt="favoris">

                <p class="favoris">favoris</p>
            </div>
        </a>
        <a href="../aide" class="clic">
            <div class="aide">

                <img class="aide nav" src="../../assets/images/learn.svg" alt="aide">

                <p class="aide">aide</p>

            </div>
        </a>
        <a href="../login" class="clic">
            <div class="login">

                <img class="login nav" src="../../assets/images/contact.svg" alt="login">
                <p class="login">login</p>
            </div>
        </a>
        <a href="../sign_up" class="clic">
        <div>
            <button class="buttonSignUp">Sign Up</button>
        </div>
        </a>
    </div>

</div>