div.hero {
    margin-top: 2%;
    margin-bottom: 5%;
    width: 85%;
    height: 50rem;
    background-color: var(--secondary_light);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#hero_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;

}

h1.hero {
    margin-top: 20%;
    margin-bottom: 15%;
}

#page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p.hero {
    width: auto;
    text-align: center;
}

div.carrousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img.arrow {
    cursor: pointer;
}

#bas {
    cursor: pointer
}